@font-face {
  font-family: "iconfont"; /* Project id 2597265 */
  src: url('iconfont.woff2?t=1626686128595') format('woff2'),
       url('iconfont.woff?t=1626686128595') format('woff'),
       url('iconfont.ttf?t=1626686128595') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e609";
}

.icon-shou:before {
  content: "\e78d";
}

.icon-zantingtingzhi1:before {
  content: "\e60a";
}

.icon-zuojt_btn:before {
  content: "\e608";
}

.icon-sort:before {
  content: "\e607";
}

.icon-shangxiatuozhuaipaixu:before {
  content: "\e6a6";
}

.icon-shouqi:before {
  content: "\e606";
}

.icon-prompt-fill:before {
  content: "\e605";
}

.icon-yuandian:before {
  content: "\e604";
}

.icon-yuan:before {
  content: "\e655";
}

.icon-yuandian1:before {
  content: "\e62f";
}

.icon-lianjie:before {
  content: "\e603";
}

.icon-qiandao:before {
  content: "\e65d";
}

.icon-fanhui:before {
  content: "\e60d";
}

.icon-arrow-:before {
  content: "\e628";
}

.icon-shangchuan:before {
  content: "\e661";
}

.icon-export:before {
  content: "\e677";
}

.icon-headla:before {
  content: "\e637";
}

.icon-settingla:before {
  content: "\e602";
}

.icon-jiesuola:before {
  content: "\e60f";
}

.icon-refresh:before {
  content: "\e600";
}

.icon-sanjiaoxing:before {
  content: "\e69e";
}

.icon-quanping1:before {
  content: "\e639";
}

.icon-menu-open:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e653";
}

.icon-Batchfolding:before {
  content: "\ebe2";
}

.icon-jiahaotianjia:before {
  content: "\e613";
}

